# Ignore Gradle project-specific cache directory
.gradle
.idea/

# Ignore Gradle build output directory
build/

# Kotlin 2.0
.kotlin/


# Super Powers
docs/superpowers

# Worktrees
.worktrees/
worktrees/

# Tools and Dependencies
.opencode/
node_modules/
.vscode/